[submodule "modules/chilitags"]
	path = modules/chilitags
	url = git@github.com:chili-epfl/qml-chilitags.git
[submodule "modules/cvcamera"]
	path = modules/cvcamera
	url = git@github.com:chili-epfl/qml-cvcamera.git
[submodule "modules/qt3d"]
	path = modules/qt3d
	url = git@gitorious.org:qt/qt3d.git
